@media only screen and (min-width: 800px){
  .ui-content {
   width: 800px !important;
   margin: 0 auto !important;
   position: relative !important;
}

.ui-input-text {
    width : 200px;
}​

.ui-content
{
    margin-bottom:75px; /* Set this to whatever your footer size is... */
}

.ui-footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

.ui-slider-input {
    width: 100px;
}

#date {
  color: black;
  text-align: center;
}

#countdown {
  text-align: center;
  color: purple;
  border: solid;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

#connectionlost {
  text-align: center;
  color: red;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

#buttons_scene_overide {
  text-align: center;
}
